
/* csearch resolver style */

#csearch-wrapper {
  float:left;
  width:100%;
  margin-bottom:10px;
}

#csearch-left {
  float:left;
  width: 66%;
}

#csearch-right {
  float:left;
  width: 34%;
}

#csearch-right div {
  height:137px;
  margin-bottom:0px;
  overflow: auto;
}
#csearch-right div strong {
  font-weight:bold;
  display:block;
  margin-bottom: 5px;
}

#csearch-right div i {
  font-weight:bold;
}

#csearch-form {
    margin-bottom: 10px;
}

#csearch-input {
    margin: 0;
    width: 308px;
}

#csearch-results {
    overflow: auto;
    height: 107px;
    width: 450px;
}

#csearch-results li a {
    line-height: 14px;
    height: 14px;
}


#csearch-results .items div {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

#csearch-results .databaseName {
    width: 30%;
}

#csearch-results .tableName {
    width: 30%;
}

#csearch-results .columnName {
    width: 40%;
}

#csearch-results .head {
    margin-left: 12px;
    margin-right: 12px;
    height: 24px;
}
#csearch-results .head div {
    line-height: 14px;
    height: 14px;
    padding: 5px 0px;
    float:left;
}


#csearch-results .csearch-results-empty {
    padding: 5px 12px;
    font-size: small;
}
