.daiquiri-table-pane {
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.daiquiri-table table {
    table-layout: fixed;
    margin-bottom: 0 !important;
}

.daiquiri-table td,
.daiquiri-table th {
    border-left: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
}
.daiquiri-table td:first-child,
.daiquiri-table th:first-child {    
    border-left: none;
}

.daiquiri-table-pager-nrows {
    width: 10em;
}

.daiquiri-table-pager-button {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.daiquiri-table-pager-button-small {
    width: 30px;
    padding: 0;
}


.daiquiri-table-row-selected,
.daiquiri-table-col-selected {
	background-color: #eee;
}

.daiquiri-table th i {
    margin-top: 2px;
}
.daiquiri-table-pager-search-form {
    margin: 0;
}

.daiquiri-table-pager-search-form button {
    height: 30px;
}
