
/* Simbad resolver style */

#simbad-form {
    margin-bottom: 10px;
}

#simbad-resolver {
  margin-bottom: 10px;
}

#simbad-input {
    margin: 0;
    width: 534px;
}

#simbad-results {
    border: 1px solid #ccc;
    border-radius: 5px;

    overflow: auto;
    height: 97px;
}

#simbad-results .item:hover {
    background-color: #efefef;
    cursor: pointer;
}

#simbad-results .item td {
    padding: 3px;
    white-space: nowrap;
    color: #08c;
}

#simbad-results .item td.object {
    font-weight:normal;
    vertical-align:top;
    padding-right: 20px;
}

#simbad-results .item td.type {
    padding-right: 20px;
}

#simbad-results .item td.coords {
    vertical-align:top;
}
