
/* Simbad resolver style */

#simbad-search-form {
    margin-bottom: 10px;
}

#simbad-search-resolver {
    margin-bottom: 10px;
}

#simbad-search-input {
    margin: 0;
    width: 534px;
}

#simbad-search-results {
    overflow: auto;
    height: 107px;
}

#simbad-search-results li a {
    line-height: 14px;
    height: 14px;
}


#simbad-search-results .object,
#simbad-search-results .type,
#simbad-search-results .coords {
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

#simbad-search-results .object {
    width: 40%;
}

#simbad-search-results .type {
    width: 30%;
}

#simbad-search-results .coords {
    width: 30%;
}

#simbad-search-results .simbad-search-results-empty {
    padding: 5px 12px;
    font-size: small;
}
