
/* Simbad resolver style */

#simbad-form {
    margin-bottom: 10px;
}

#simbad-resolver {
    margin-bottom: 10px;
}

#simbad-input {
    margin: 0;
    width: 534px;
}

#simbad-results {
    overflow: auto;
    height: 97px;
}



#simbad-results li a {
    line-height: 14px;
    height: 14px;
}

#simbad-results .object {
    float: left;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
}

#simbad-results .type {
    float: left;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
}

#simbad-results .coords {
    float: left;
    width: 30%;
}

#simbad-results .simbad-results-empty {
    padding: 5px 12px;
    font-size: small;
}
