<div class="daiquiri-table" ng-controller="TableController">

    <div class="daiquiri-table-header">
        <form class="daiquiri-table-search input-append pull-left">
            <input placeholder="Search" type="text" class="input-mini input-xlarge" ng-model="searchString"/>
            <button class="btn" ng-click="search()"><i class="icon-search"></i></button>
        </form>

        <div class="pagination pull-right">
            <ul>
                <li>
                    <a href="" ng-click="reset()">Reset</a>
                </li>
            </ul>
        </div>

        <div class="pagination pull-right">
            <ul>
                <li>
                    <a href="" ng-click="first()">First</a>
                </li>
                <li>
                    <a href="" ng-click="prev()">Previous</a>
                </li>
                <li>
                    <a href="" ng-click="next()">Next</a>
                </li>
                <li>
                    <a href="" ng-click="last()">Last</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="daiquiri-table-pane" ng-show="table.data.rows.length">
        <table class="table">
            <thead>
                <tr>
                    <th ng-repeat="(i,col) in table.data.cols" style="width: {{col.width}}px;" data-col-id="{{i}}">
                        <div class="cell">
                            <div class="handle-left" ng-mousedown="resize(i-1)"></div>
                            <div class="handle-right" ng-mousedown="resize(i)"></div>
                            <div class="sort" ng-click="sort(col.name)" ng-show="col.sortable == true">
                                <i ng-class="{
                                    'icon-chevron-down': table.meta.sort != col.name + ' ASC' && table.meta.sort != col.name + ' DESC',
                                    'sorted icon-chevron-down': table.meta.sort == col.name + ' ASC',
                                    'sorted icon-chevron-up': table.meta.sort == col.name + ' DESC'
                                }"></i>
                            </div>
                            <div class="name" ng-if="col.ucfirst == false">{{col.name}}</div>
                            <div class="name" ng-if="col.ucfirst != false">{{col.name|ucfirst}}</div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table.data.rows">
                    <td ng-repeat="(i,element) in row.cell track by $index">
                        <div class="cell" ng-bind-html="element"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="daiquiri-table-empty" ng-show="table.data.rows.length == 0">
        No rows have been retrieved.
    </div>

    <div class="daiquiri-table-footer">
        <div class="pull-left">
            <p>Page {{table.meta.page}} of {{table.meta.pages}} ({{table.meta.total}} rows total)</p>
        </div>
        <select class="pull-right" ng-options="option.value as option.name for option in options" ng-model="nrows" ng-change="reset()"></select>
    </div>

</div>
